* {
    font-family: 'PT Sans', sans-serif;
}

.spacer {
    min-height: 50px;
}

/* Halaman Relawan */

.margin-top-up {
    margin-top: -4%;
}

.margin-top-down {
    margin-top: 4%;
}

.btn-style {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    border-radius: 10px;
}

.btn-style-action {
    background-color: #FFF;
    color: #F53855;
    border-color: #F53855;
    border-width: 2px;
}

.btn-style-action:hover {
    background-color: #FFF;
    color: #F53855;
    border-color: #F53855;
    border-width: 2px;
}

.btn-style-donation {
    background-color: #F53855;
    color: #FFF;
}

.btn-style-donation:hover {
    background-color: #F53855;
    color: #FFF;
}

.text-title {
    font-weight: 700;
    font-size: 45px;
    color: #000;
}

.text-content {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.text-title-partner {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.text-content-partner {
    font-weight: 400;
    font-size: 18px;
    color: #393939;
}

.card-text-kampanye {
    font-weight: 700;
    font-size: 12px;
    color: #000000;
}

.card-context-kampanye {
    font-weight: 400;
    font-size: 10px;
    color: #696969;
}

.card-context-kampanye-more {
    font-weight: 400;
    font-size: 10px;
    color: #096354;
}

.form-control:focus {
    border-color: #005E4E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 94, 78, 0.6);
}

.input-group-style {
    border-radius: 10px;
    height: 50px;
}

.card-style {
    background-color: #FFF;
    border: 5px solid #FFF;
    border-radius: 10px;
}

.card-style a {
    color: #1F1F1F;
}

.card-style:hover,
.card-style a:hover {
    text-decoration: none;
}

.panel-katalog-banner {
    background-color: #FFF;
    border: 1px solid #E5E7E9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(138, 149, 158, 0.2);
}

.panel-katalog-banner:hover,
.panel-katalog-banner a:hover {
    text-decoration: none;
}

.panel-body {
    padding: 0;
}

.panel-katalog-text {
    padding: 0 10px;
}

.img-katalog {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.margin-content-text {
    padding: 1% 4% 0 2%;
}

.text-katalog {
    font-weight: 700;
    font-size: 24px;
    color: #00806A;
}

.text-katalog-sub {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    font-style: italic;
}

.img-profile {
    margin-top: 0%;
}

.text-title-profile {
    font-weight: 700;
    font-size: 18px;
    color: #00806A;
}

.text-profile {
    font-weight: 400;
    font-size: 14px;
    color: #585858;
}

.chat-style {
    position: fixed;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
}

.chat-style:hover {
    transform: scale(1.1);
}

/* Small Width */
@media only screen and (max-width: 768px) {
    .chat-style {
        display: none;
    }

    .margin-top-mobile {
        margin-top: 5%;
    }

    .margin-content-text {
        padding: 5% 10%;
    }
}

/* Carousel */

.text-katalog-card {
    font-weight: 700;
    font-size: 20px;
    color: #00806A;
}

.panel-katalog-card {
    height: 280px;
}

.panel-katalog {
    background-color: #FFF;
    border: 1px solid #E5E7E9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(138, 149, 158, 0.2);
}

.panel-katalog:hover {
    background-color: #FFF;
    border: 1px solid #E5E7E9;
    border-radius: 10px;
    box-shadow: 0px 20px 10px 0px rgba(138, 149, 158, 0.2);
}

.panel-katalog-active {
    background-color: #FFF;
    border: 1px solid #E5E7E9;
    border-radius: 10px;
    box-shadow: 0px 20px 10px 0px rgba(138, 149, 158, 0.2);
}

.panel-katalog-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.click-katalog:hover {
    cursor: pointer;
}

.margin-top-down-card {
    margin-top: 5%;
}

.carousel-control {
    width: 0px;
}

.carousel-control.left {
    margin-left: -50px;
}

.carousel-control.right {
    margin-right: -10px;
}

.carousel-control.left,
.carousel-control.right {
    opacity: 1;
    margin-top: 100px;
}

.img-katalog-carousel {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.img-carousel {
    width: 40px;
}

.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;

}

.active>div {
    display: none;
}

.active>div:first-child {
    display: block;
}

/* Additional */
.img-logo-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img-logo-share {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel-katalog-frame {
    background: linear-gradient(0deg, #005E4E -70.63%, #00DBB6 302.35%);
    box-shadow: 0px 2px 4px 0px #00000040;
    border-radius: 20px;
}

.panel-body-frame {
    padding: 20px 0;
}

.img-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-katalog-icon {
    display: block;
}

.text-frame {
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    margin-top: 10px;
}

#more {
    display: none;
}

.text-more-content {
    color: #005E4E !important;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .img-logo-title {
        width: 50%;
    }
}

/*xs*/
@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .active.right {
        left: 50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }

    .carousel-col {
        width: 100%;
    }

    .active>div:first-child+div {
        display: block;
    }

    .margin-top-down-card {
        margin-top: 5%;
    }

    .panel-katalog-card {
        height: 300px;
    }

    .panel-katalog-center {
        height: 40px;
    }

    .img-carousel {
        margin-top: 210px;
    }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .active.right {
        left: 50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }

    .carousel-col {
        width: 100%;
    }

    .active>div:first-child+div {
        display: block;
    }

    .panel-katalog-card {
        height: 480px;
    }

    .panel-katalog-center {
        height: 60px;
    }

    .img-carousel {
        margin-top: 400px;
    }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner .active.left {
        left: -33%;
    }

    .carousel-inner .active.right {
        left: 33%;
    }

    .carousel-inner .next {
        left: 33%;
    }

    .carousel-inner .prev {
        left: -33%;
    }

    .carousel-col {
        width: 33%;
    }

    .active>div:first-child+div {
        display: block;
    }

    .active>div:first-child+div+div {
        display: block;
    }

    .panel-katalog-center {
        height: 80px;
    }
}

/*lg*/
@media (min-width: 1200px) {
    .carousel-inner .active.left {
        left: -25%;
    }

    .carousel-inner .active.right {
        left: 25%;
    }

    .carousel-inner .next {
        left: 25%;
    }

    .carousel-inner .prev {
        left: -25%;
    }

    .carousel-col {
        width: 33%;
    }

    .active>div:first-child+div {
        display: block;
    }

    .active>div:first-child+div+div {
        display: block;
    }

    .active>div:first-child+div+div+div {
        display: block;
    }
}

.block {
    width: 306px;
    height: 230px;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}